html {
    font-family: monospace;
}
.navbar {
    overflow: hidden;
    background-color:white;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar a {
    float: left;
    display: block;
    color: navy;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: monospace;
}
.navbar a:hover {
    background: black;
    color: white;
}
h1{
    font-size:40pt;
    font-family: monospace;
    text-align: center;
    color:lightskyblue;
}
h2{
    text-align: center;
    font-size: 28px;
    color: rgb(164, 185, 245);
}
h3{
    text-align: center;
    font-style: italic;
    color: grey;
}
span#dc{
    font-size: 30pt;
    font-style: normal;
}
td,tr{
    font-size: 12pt;
}
.midbreaks{
    width: 800px;
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}